body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e5e9ec!important;
}

.search-bar-container {
  display: flex;
  margin-top: 2em;
}

.search-bar {
  border-radius: 1em!important;
}

button.search-button {
  color: #FFFFFF;
  background-color: #00aced;
  margin-left: -2em!important;
  border-radius: 0 1em 1em 0;
  border: 0;
}

button.search-button:focus {
  border: 0;
}

input.form-control {
  border-color: #FFFFFF;
}

input.form-control:focus, button.btn:focus {
  border-color: #ced4da;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.title {
  margin: 1em;
}

.bold {
  font-weight: bold;
}

.panel-container {
  margin-top: 1em;
  padding: 1em;
}

div.card {
  padding: 0!important;
  border-radius: 1em!important;
  border: 1px solid #e5e9ec;
}

div.card-header {
  border-radius: 1em 1em 0 0!important;
  border: 1px solid #F8F8F8!important;
}

.card:focus, .card:hover {
  border: 1px solid #ced4da;
}

.panel {
  margin: 1em 0;
}

.card-body {
  height: 400px;
  width: 100%;
  overflow: auto;
  padding: 0;
}

/*.twitter-bar {*/
  /*fill: #c0deed;*/
/*}*/

.y-axis > path, .x-axis > path, .tick > line {
  stroke: black;
}

.visual-options.btn, .bubble-options.btn {
  font-size: 0.5em!important;
  background-color: #00aced;
  border: 1px solid #00aced;
}

.visual-controls, .controls {
  text-align: center;
}

.controls {
  margin-top: 2em;
}

.remove-btm {
  margin-bottom: 0;
}


.extra-ml {
  margin-left: 1.5em;
}

div.card {
  overflow: auto;
}

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -webkit-border-radius: 10px;
  -moz-border-radius:10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  background: #FFFFFF;
  opacity: .9;
  color: #000000;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
  pointer-events: none;
}

.tooltip .title {
  font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

.slick-slider {
  margin-top: 2em;
}
button.slick-arrow.slick-next {
  right: -5px
}

button.slick-arrow.slick-prev {
  left: -5px;
}

.slick-prev:before, .slick-next:before {
  color: #00aced!important;
  font-size: 1em;

}


/*.visual-options.btn:hover, .visual-options.btn:active {*/
  /*background-color: #0084b4;*/
  /*border: 1px solid #0084b4;*/
/*}*/