body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search-bar-container {
  display: flex;
  margin-top: 2em;
}

.search-bar {
  border-radius: 1em!important;
}

button.search-button {
  color: #FFFFFF;
  background-color: #00aced;
  margin-left: -2em!important;
  border-radius: 0 1em 1em 0;
  border: 0;
}

button.search-button:focus {
  border: 0;
}

input.form-control:focus, button.btn:focus {
  border-color: #ced4da;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}


